{% extends 'store/base.html' %}
{% load static %}
{% block content %}

    <h2 class="card-subtitle">Search term: {{ q }}</h2>

    <div id="all">
    <div id="content">
        <div class="container">
              <div class="row products">
              {% for product in products %}
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href=""><img src="{{product.imageURL}}" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href=""><img src="{{product.imageURL}}" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="" class="invisible"><img src="{{product.imageURL}}" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="">{{ product.name }}</a></h3>
                      <p class="price">
                        {{ product.price }}
                      </p>
                      <p class="buttons"><a href="{% url 'detail' product.category.slug product.slug %}" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                    </div>

                    <!-- /.text-->
                  </div>
                  <!-- /.product            -->
                </div>
              {% endfor %}
              </div>
    </div>
    </div>
    </div>
{% endblock content %}