{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'store' %}">Home</a></li>
                    {% if category.parent %}
                        <li aria-current="page" class="breadcrumb-item active"><a href="{% url 'category_detail' category.parent.slug %}">{{ category.parent.title }}</a></li>
                    {% endif %}
                   <li class="breadcrumb-item active"><a href="{% url 'category_detail' category.slug %}">{{ category.title }}</a></li>

                </ol>
              </nav>
            </div>
            <div class="col-lg-3">
              <!--
              *** MENUS AND FILTERS ***
              _________________________________________________________
              -->
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">Categories</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column category-menu">
                  {% for category in menu_categories %}
                    <li><a href="{% url 'category_detail' category.slug %}" class="nav-link active">{{ category.title }}<span class="badge badge-secondary">42</span></a>
                      <ul class="list-unstyled">
                         {% for subcategory in category.children.all %}
                        <li><a href="{% url 'category_detail' subcategory.slug %}" class="nav-link">{{ subcategory.title }}</a></li>
                         {% endfor %}
                  {% endfor %}
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- *** MENUS AND FILTERS END ***-->
            </div>
            <div class="col-lg-9">
              <div class="box">
                  <h1>{{ category.title }}</h1>
                <p>In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide.</p>
              </div>

              <div class="row products">
                  {% for product in products %}
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="{{product.imageURL}}" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="{{product.imageURL}}" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="{{product.imageURL}}" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="detail.html">{{ product.name }}</a></h3>
                      <p class="price">
                        {{ product.price }}
                      </p>
                      <p class="buttons"><a href="{% url 'detail' category.slug product.slug %}" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                    </div>

                    <!-- /.text-->
                  </div>
                  <!-- /.product            -->
                </div>
                  {% endfor %}
                <!-- /.products-->
              </div>
              <div class="pages">
                <p class="loadMore"><a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a></p>
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                  <ul class="pagination">
                    <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- /.col-lg-9-->
          </div>
        </div>
      </div>
    </div>
{% endblock content %}